*.o
cli/t
test/core
test/vgcore.*
build/CMakeCache.txt
build/CMakeFiles
build/Makefile
build/cmake_install.cmake
build/libmonotone_so.c
build/libmonotone.a
build/libmonotone.so
build/monotone
build/monotone-test
build/monotone
